{% extends "layout-common.html" %}
{% load crispy_forms_tags %}

    {% block content %}

    {% if messages %}
    <div class="alert alert-info" role="alert">
    <ul class="messages">
            {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags  }} " {% endif %}> {{ message  }} </li>
            {% endfor %}
    </ul>
    </div>
    {% endif %}
    {{request.GET.success}}
    {% if request.GET.success  %}
        <div class="modal-footer">
            <a class="btn btn-primary"  href="{{request.GET.next}}">Listo</a>
      </div>
    {% else  %}
    
  
    <form method="post">
          {% csrf_token %}
            {{ form|crispy  }}
    <div class="modal-footer">
        <a class="btn btn-secondary"  href="{{request.GET.next}}">Cancelar</a>
        <input class="btn btn-danger"  type="submit" value="Cambiar">
        <input type="hidden" name="next" value="{{ request.GET.next  }}" />
      </div>
    </form>
    {% endif %}
{% endblock %}
