{% extends "layout-common.html" %}
{% load crispy_forms_tags %}

    {% block content %}

    {% if messages %}
    <ul class="messages">
            {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags  }} " {% endif %}> {{ message  }} </li>
            {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
          {% csrf_token %}
            {{ form|crispy  }}
    <div class="modal-footer">
        <input class="btn btn-secondary" type="button" value="Cancelar" onclick="location.href='{%url 'home'%}'">
        <input class="btn btn-danger"  type="submit" value="Cambiar">
  </div>
    </form>
    {{aux}}
{% endblock %}
