{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% if form.errors %}
        <p>Error en usuario y/o contraseña. Intente nuevamente por favor.</p>
    {% endif %}

    <form method="POST" class="form-group">
        {% csrf_token %}
        {{ form|crispy  }}
        <input class="btn btn-secondary" type="button" value="Cancelar" onclick="location.href='{%url 'home'%}'">
        <input class="btn btn-primary"  type="submit" value="Registrarse">
    </form>
{% endblock %}
