{% extends "layout-common.html" %}
{% load static %}
{% block info %}
<div class="row">
    <div class="col-xl-4 col-md-12">
        <div class="card comp-card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="mb-14">Órdenes atendidas</h6>
                        <h3 class="fw-700 text-blue">{{obj.ord}}</h3>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-file-medical bg-blue"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card comp-card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="mb-14">Prácticas realizadas</h6>
                        <h3 class="fw-700 text-green">{{obj.res}}</h3>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-microscope bg-green"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card comp-card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="mb-14">Pacientes registrados</h6>
                        <h3 class="fw-700 text-orange">{{obj.pac}}</h3>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-id-card bg-orange"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<h6>Cantidad de prácticas de laboratorio realizadas por día</h6>
<canvas id="grafico" style="max-height:24em"></canvas>

{% endblock %}

{% block footer %}
<script src="{% static 'js/Chart.min.js' %} "></script>
<script type="text/javascript">
grafico = {{obj.grafico|safe}};
var config = {
    type: 'line',
    data: {
		labels:grafico.labels, 
        datasets: [{
			data:grafico.data ,
			backgroundColor: [
				'rgba(242,38,19,0.2)' ,
			],
			borderColor: [
				 'rgba(242,38,19,0.5)',
			],
        }],
    },
    options: {
        responsive: true, 
        legend:{
            display:false
        },
        title:{
            display:false
        },
        label:{
            display:false
        },
		tooltips: {
			displayColors:false,
			titleFontSize:18,
			titleAlign: 'center',
			titleFontColor: 'rgba(242,38,19,.8)',
			backgroundColor:'rgba(255,255,255,0.8)' ,
			borderColor: 'rgba(242,38,19,.8)',
			caretSize: 14,
			cornerRadius:8,
			caretPadding:7,
			borderWidth:2,
			intersect:false,
			callbacks: {
				label: function(tooltipItem, data) {
					return
				},
				title: function(tooltipItem, data) {
					return '\n'+tooltipItem[0].value+' pruebas'+ '\n\n'+grafico.labels[tooltipItem[0].index]
				}
			}
		},
		scales: {
            xAxes: [{
                ticks: {
                    display: false , 
					maxTicksLimit: 10,
                },
				gridLines:{display:false}
            }],
            yAxes: [{
                ticks: {
                    display: false , 
					beginAtZero: true,
					maxTicksLimit: 10,
                },
				gridLines:{display:false}
            }]
        }
    }
};
var chart
$(document).ready(function(){
      var ctx = $('#grafico')[0].getContext('2d');
       chart = new Chart(ctx, config);
})
</script>
{% endblock %}
