{% extends "base.html" %}
{% block title%}Paciente{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{{ form.media.css  }}
{% if object == None %}
    <h1>Crear Paciente</h1>
{% else %}
    <h1>Editar Paciente</h1>
{% endif %}
<form method="post">{% csrf_token %}
    {{ form|crispy  }}
    <input type="submit" value="Guardar">
    <input type="button" value="Cancelar" onclick="location.href='{%url 'paciente-list'%}'">
</form>
{% endblock %}
{% block footer%}{{ form.media.js  }}{% endblock %}
