{% extends "layout-common.html" %}
{% block btn_nuevo%}<a class="btn btn-primary" href="{% url 'prueba-create' %}"><i class="{{aux.icon}}"></i>Crear {{aux.singular}}</a>{% endblock %}
{% block filtro%}{% include "lab/filtro.html" %}{% endblock %}
{% block content %}


<div class="table-responsive">
    <table class="table table-hover mb-0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Unidad</th>
                <th>Val. ref. mínimo</th>
                <th>Val. ref. máximo</th>
                <th>Acciones</th>
                </tr>
        </thead>
        <tbody>
        {% for prueba in object_list %}
           <tr>
                <td>{{ prueba.pk  }}</td>
                <td>{{ prueba.nombre  }}</td>
                <td>{{ prueba.unidad|default_if_none:''   }}</td> 
                <td>{{ prueba.minimo|default_if_none:''   }}</td>
                <td>{{ prueba.maximo|default_if_none:''   }}</td> 
                <td>
                <a href="{% url 'prueba-edit' prueba.id %}" title="Editar"><i class="fas fa-edit f-16 mr-15 text-green"></i></a> 
                <a href="{% url 'prueba-delete' prueba.id %}" title="Eliminar"><i class="fas fa-trash-alt f-16 text-red"></i></a> 
                </td>
            {% empty %}
            <td colspan="3">No hay pruebas todavía.</td>
        {% endfor %} 
            </tr>

        </tbody>
    </table>
</div>
{% include "lab/paginado.html" %}
{% endblock %}
