<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <!-- link rel="stylesheet" href="style.css"-->
        <title>Lab - {% block title %}My amazing site{% endblock %}</title>
    </head>
    <body>
        <div id="header">
            <ul>
            {% if user.is_authenticated %}
                 <li>User: {{ user.get_username  }}</li>
                  <li><a href="{% url 'logout'%}">Logout</a></li>
                  <li><a href="{% url 'changepass'%}?next={{request.path}}">Cambiar contraseña</a></li>
             {% else %}
                  <li><a href="{% url 'login'%}">Login</a></li>
                  <li><a href="{% url 'register'%}">Registrarse</a></li>
             {% endif %}
            </ul>
        </div>
                <div id="sidebar">
                {% block sidebar %}
                    {% include "sidebar.html" %}
                {% endblock %}
                </div>

        <div id="content">
        {% block content %}{% endblock %}
        </div>
        <script src="/static/assets/js/jquery.min.js"></script>
        {% block footer %}{% endblock %}
</body>
</html>
