{% load static %}
{% load permission_tags %}
        {% block sidebar %}

                <div class="app-sidebar colored">
                    <div class="sidebar-header">
                        <a class="header-brand" href="/">                            
                            <div class="logo-img">
                                <img src="{% static 'img/logo-chico.png' %}" class="header-brand-img" alt="SL"> 
                            </div>
                            <span class="text">Sistema Lab</span>
                        </a>
                        <button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
                        <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
                    </div>
                    
                    <div class="sidebar-content">
                        <div class="nav-container">
                            <nav id="main-menu-navigation" class="navigation-main">
                                {% url 'home' as the_url %}
                                <div class="nav-item{% if the_url == request.get_full_path %} active{% endif %}">
                                    <a href="{% url 'home' %}"><i class="fas fa-home"></i><span>Home</span></a>
                                </div>

                                {% url 'resultado' as the_url %}
                                <div class="nav-item{% if the_url in request.get_full_path %} active{% endif %}">
                                    <a href="{% url 'resultado' %}"><i class="fas fa-file-medical-alt"></i><span>Resultados</span></a>
                                </div>

                                    {% if user|has_role:'recepcion' %}
                                    {% url 'orden-list' as the_url %}
                                    <div class="nav-item{% if the_url in request.get_full_path %} active{% endif %}">
                                        <a href="{% url 'orden-list' %}"><i class="fas fa-file-medical"></i><span>Órdenes</span></a>
                                    </div>
                                    {% url 'paciente-list' as the_url %}
                                    <div class="nav-item{% if the_url in request.get_full_path %} active{% endif %}">
                                        <a href="{% url 'paciente-list' %}"><i class="fas fa-id-card"></i><span>Pacientes</span></a>
                                    </div>
                                    {% endif %}

                                    {% if user|has_role:'laboratorio' %}
                                    {% url 'carga' as the_url %}
                                    <div class="nav-item{% if the_url in request.get_full_path %} active{% endif %}">
                                        <a href="{% url 'carga' %}"><i class="fas fa-keyboard"></i><span>Carga</span></a>
                                    </div>
                                    {% url 'prueba-list' as the_url %}
                                    <div class="nav-item{% if the_url in request.get_full_path %} active{% endif %}">
                                        <a href="{% url 'prueba-list' %}"><i class="fas fa-microscope"></i><span>Pruebas</span></a>
                                    </div>
                                    {% url 'unidad-list' as the_url %}
                                    <div class="nav-item{% if  the_url in request.get_full_path %} active{% endif %}">
                                        <a href="{% url 'unidad-list' %}"><i class="fas fa-ruler-combined"></i><span>Unidades</span></a>
                                    </div>
                                    {% endif %}
                            </nav>
                        </div>
                    </div>
                </div>

        {% endblock %}
